<div class="container">
  <div class="mat-container">
    <h2>Basic Form Element</h2>
    <mat-form-field>
      <input matInput placeholder="Your name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Your comment"></textarea>
    </mat-form-field>
    <mat-select placeholder="Select your city">
      <mat-option *ngFor="let city of cities">
        {{city}}
      </mat-option>
    </mat-select>
  </div>
  <br>
  <div>
    <h2>Various Appearance</h2>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Standard form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>    
  </div>
  <div class="mat-container">
    <h2>Form Field with Label</h2>
    <form class="mat-container" [formGroup]="options">
      <mat-checkbox formControlName="hideRequire">Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group formControlName="floatLabel">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
          <mat-radio-button value="never">Never</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <input matInput placeholder="Simple placeholder" required>
    </mat-form-field>
  
    <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput placeholder="Simple placeholder">
    </mat-form-field>
  
    <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired"
        [floatLabel]="options.value.floatLabel">
      <mat-select required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
    </mat-form-field>
  </div>
</div>