<div class="container">
    <h3>Products Details List</h3>
    <table class="table table-hover">
        <thead class="bg-danger text-white text-uppercase">
            <th>ProductID</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>View Details</th>
        </thead>
        <tbody>
            <tr *ngFor = "let product of products">
                <td>{{product.productId}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button (click)="clickDetails(product)" class="btn btn-primary">Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>