
<div class="container">
  <div class="jumbotron">
    <h2 class="text-primary text-center text-uppercase">Welcome to Midland online..</h2>
  </div>
  <div class="row">
    <div class="col-4 text-white">
      <ul type="disc">
        <a routerLink="home">
            <li>Home</li>
        </a>
        <a routerLink="about">
            <li>About</li>
        </a>
        <a routerLink="contact">
            <li>Contact</li>
        </a>
      </ul>
    </div>
    <div class="col-8 bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>