<div>
<ng-container *ngFor="let product of products">
  <div *ngIf="prodId == product.productId">
    <div class="card">
      <div class="card-header bg-info">
          <h2 class="text-center  text-white">{{product.productName}}</h2>
      </div>
      <div class="card-footer">
        <img class="img-thumbnail" width="100%" src={{product.photo}}>
      </div>
      <div class="card-footer bg-info">
          <h2 class="text-center text-white">{{product.price | currency: 'INR'}}</h2>
      </div>
    </div>
  </div> 
 
</ng-container>
</div>
